<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navbar.ejs') %>
  <div class="container">
    <hr>
    <h1>Questions</h1>
    <hr>
    <a href="/askme" class="btn btn-dark">New Question</a>
    <hr>
    <% questions.forEach(question => { %>
      <br>
      <div class="card">
        <div class="card-body">
          <h3><%= question.title %></h3>
        </div>
        <div class="card-footer">
          <a href="/question/<%= question.id %>" class="btn btn-dark">Answer</a>
        </div>
      </div>
    <% }) %>
  </div>
</body>
<%- include ('partials/footer.ejs') %>